@define-color foreground #e3e8f5;
@define-color background #06060E;
@define-color cursor #e3e8f5;

@define-color color0 #06060E;
@define-color color1 #0956DF;
@define-color color2 #936DB3;
@define-color color3 #628AC2;
@define-color color4 #A3A2DA;
@define-color color5 #B5ADE2;
@define-color color6 #D2D3FB;
@define-color color7 #e3e8f5;
@define-color color8 #9ea2ab;
@define-color color9 #0956DF;
@define-color color10 #936DB3;
@define-color color11 #628AC2;
@define-color color12 #A3A2DA;
@define-color color13 #B5ADE2;
@define-color color14 #D2D3FB;
@define-color color15 #e3e8f5;
